#cim1{
    font-family: Fette UNZ Fraktur;
    color: #850505;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0px;
}

#cim2{
    font-family: Fette UNZ Fraktur;
    color: #850505;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

#cim3{
    font-family: Fette UNZ Fraktur;
    color: #850505;
    font-size: 50px;
    margin-bottom: 0px;
}

p{
    color: crimson;
    padding-left: 50px;
    margin-top: 5px;"
}

body{
    
    background-size: cover;
}